.about-body{
  margin: 0rem auto;      
  max-width: 1800px;        
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;
  gap: 0rem;
  box-sizing: border-box;
    padding: 0 0;
}



@media (max-width: 1450px) {
  .about-body{
    margin-top: 6rem;
  }
}


.about-text {
  animation: fadeInText 0.5s ease-out forwards;
  margin: 1rem auto;
  gap: 1rem;
  white-space: pre-wrap;
   font-family: "Franklin Libre", sans-serif;
  color: white;
  line-height: clamp(1.2rem, 3vw, 1.6rem);
  font-size: clamp(0.8rem, 2vw, 16px);
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 900px) {
  .about-text{
    width: 90%;
  }

}

.about-paragraph{
    margin: 0;
}

.aboutPage-CV-link{
    margin: 0 auto;
    color: #719eff;
    text-decoration: underline;
}

.aboutPage-CV-link:hover {
    color: #225edd;
    text-decoration: none;
}

.about-email{
    text-align: center;
    font-size: clamp( 0.8rem, 5vw, 1.3rem);
}

.about-text-section{
    margin-bottom: 2rem;
}


.about-portraitGif{
    display: block;
    aspect-ratio: 540/474;
    -webkit-user-drag: none;
    margin: 1rem auto;
    justify-self: center;
    animation: fadeInUp 1.1s ease forwards;
    margin-bottom: 2rem;
    width: clamp(100px, 100vw, 540px);
}

@keyframes fadeInUp{

    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInText{

    from{
        opacity: 0;
        transform: translateY(-40px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }

}


.imageBlock-wrapper-about{
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-overlay-about{
  position: absolute;
  inset: 0;
  background: transparent;
}

.about-linkLogos a{
    display: block;
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
    margin-bottom: 2rem;
  transition: transform 0.2s ease, color 0.2s ease;

}

.about-linkLogos{
    padding: 0 0;
    margin: 0rem auto;
    gap: 0rem;
    margin-bottom: 1rem;
}

.about-linkLogos a:hover {
  color: #58a6ff;
  transform: scale(1.05);
}

.about-biography-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 0rem  ;
  width: 100%;
  margin-bottom: 2rem;
}


.bio-left,
.bio-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  padding: 0;
  gap: 0;
}

.about-bio-left-text {
  text-align: right;
  margin: 0;
  padding: 0;
  gap: 0;
}

.about-bio-right-text {
  text-align: left;
  margin: 0;
  padding: 0;
  gap: 0;
  line-height: clamp(1.2rem, 3vw, 1.7rem);
  
}


@media (max-width: 800px) {
  .about-biography-grid {
    grid-template-columns: 1fr;
  }

  .about-bio-left-text,
  .about-bio-right-text {
    text-align: center;
  }

  .bio-left {
    margin-bottom: 0;
  }
}