


.boxBody-Category-Div{
    display: flex;
    margin: 4% auto;
    margin-bottom: 0%;
    width: 45vw;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}

.boxBody-Categories{
    font-family: "Google Sans", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: opacity 0.4s ease 0s;
    white-space: nowrap; 
    margin: 0 0;
    gap: 0 0;
    padding: 0.4rem 0;

}

.boxBody-Categories:hover{
    opacity: 0.6;

}




.boxBody{
    column-count: 2;
    column-gap: 1%;
    row-gap: 1%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 2%;
    min-height: 35rem;
}


.box{
    animation: boxFade 1s ease forwards;
    break-inside: avoid;
    margin-bottom: 1%;
    position: relative;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}   


.box:hover{
        cursor:pointer;
}

.image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    -webkit-user-drag: none;
}

.imageGif{
    position: absolute;
  inset: 0;
  
}

.imageBlock-wrapper{
  position: relative;
  display: contents;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay{
  position: absolute;
  inset: 0;
  background: transparent;
  cursor: pointer;
}

.titleAsLogo{
    position: absolute;
    top: 0%;
    left: 0%;

    
    object-fit: contain;
    width: 100%;
    transform-origin: center center;
    transform: scale(0.9);
    display: block;
    -webkit-user-drag: none;
}

.titleAsText{

    line-height: 2;
    margin: 0;
    padding: 0;

    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    position: absolute;
    font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
    
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%);


    text-shadow: 2px 2px 4px black;


    
}


.titleAsText, .titleAsLogo{
          transition: opacity 0.2s ease-in 0s;
          transition: transform 0.2s ease-out 0s;
}

.box:hover .titleAsText {
    opacity: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transform-origin: center;

}

 .box:hover .titleAsLogo{
     opacity: 70%;
    transform:  scale(0.8);
 }

.divDescriptionText{

    color: white;
    display: flex;
    position: fixed;
    
    bottom: max(40%, 90px);
    max-height: calc(60% - 90px);

    left: 80%;
    width: 20%;
    justify-content: center;

}

.descriptionText{
    overflow-wrap: break-word;
    word-break: break-word;   
    max-width: 100%;
}


.commenterBox{
    
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 80%;
    width: 20%;
    justify-content: center;

}

.commenter{
    bottom: -10%;
    width: 70%;
    transition: transform 0.1s ease-out 0s;
    animation: scanPopup 1s ease 0s;
    
}

.lineDiv{
 
    display: flex;
    position: absolute;

    top: 55%;
    left: 80%;
    width: 20%;
    justify-content: center;
    
    flex: 1 1 auto;
}

.commenterLine{
    position: fixed;
    width: 2px;
    background-color: white;
   
}

.commenterBox:hover .commenter, .commenter:hover{
    transform: translate(0, 65%);   
}



@media (max-width: 1450px) {

    .boxBody-Category-Div{
        margin: clamp(4rem, 7vw, 20rem) auto;
        margin-bottom: 0%;
        
    }
}

@media (max-width: 1150px) {
    .boxBody-Category-Div{
        margin: clamp(4rem, 10vw, 20rem) auto;
        margin-bottom: 0%;
    }
}


@media (max-width: 900px){
    .boxBody{
        column-count: 1;
    }

    .boxBody-Category-Div{
        margin-top: clamp(5rem, 14vw, 12rem);
        gap: 2rem;
        width: 75vw;
    }
}



@media(max-width: 700px){
    
    .boxBody-Category-Div{
        margin-top: clamp(5rem, 16vw, 12rem);
    }
    
    .descriptionText{
        font-size: 0.9rem;
    }

    .commenterLine{
        background-color: rgba(255, 255, 255, 0);
    }
}



@media(max-height:590px){
    .commenter{
        max-width: 55%;
    }

    .divDescriptionText{
        font-size: 0.9rem;
    }

}



@media (max-width: 450px){
    
    .boxBody{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }

    .boxBody-Category-Div{
        margin-top: clamp(4rem, 24vw, 69rem);

        gap: 1rem;
        width: 90vw;
    }

    .boxBody-Categories{
        font-size: 0.7rem;
        margin-bottom: 0.9rem;
    }
}





@keyframes boxFade{
from{
        opacity: 0;
        transform: translateY(-10px);
}to{
        opacity: 1;
        transform: translateY(0);
}

}

@keyframes scanPopup{
from{
    transform: translateY(100%);

}to{
    transform: translateY(0);
}

}