 .lazy-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.lazy-placeholder {
  display: block;
  width: 100%;
  pointer-events: none;
}

.lazy-image {
    inset: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 0.8s ease, filter 0.8s ease;
}


.lazy-image.loaded {
  opacity: 1;
  filter: blur(0);
  
}
